[2021-03-01 16:38] fongie opened #2 "Create and send valid billing requests (XRechnung)"
- Create valid DiGA XRechnung bills. Try to find some xsd to use - but gkv dont provide them - otherwise start from this example https://github.com/bitmarck-service/validator-configuration-diga/blob/master/src/test/resources/dre0/xrechnung-2.0-richtig.xml
- Encrypt and send them to an endpoint using the correct process identifiers. Should be able to use existing library classes for this
- Create t

[2021-03-01 16:59] fongie opened #3 "diga.apimisc.de times out"
## Problem

Library requests to diga.apimisc.de endpoint time out (both test and real requests)

## Solution

?

[2021-03-01 17:05] fongie opened #4 "diga-api.tk.de/diga/api/public/rest invalid request or data body"
## Problem

Both real and test requests to diga-api.tk.de/diga/api/public/rest return error code 200 (request or data body invalid).

## Solution

Their xml response is encoded differently

[code]

to our request

[code]

maybe this is part of the problem - try to send ISO 8859 1 encoded request and see if that works. If not, something else is wrong :)

[2021-03-01 17:21] fongie opened #5 "da-api.gkvi.de test requests return code unknown"
## Problem

All __test__ requests to da-api.gkvi.de return "CODE NOT FOUND" error. They should return different responses according to the specification.

__"Real"__ requests return error: invalid data. However, that may be because we send the wrong check character, which is what the bitmarck API returns as well when we send it to them. So it is possible that "real" endpoints work, but we have not

[2021-03-01 17:26] fongie opened #6 "diga.kkh.de test codes all code not found"
## Problem

Test requests to diga.kkh.de all return code not found instead of the specified return value

Real requests to diga.kkh.de return "invalid request data". However, as mentioned in #5 as well, this might be because the code check character is wrong. It is quite possible that this endpoint accepts "real" codes but not test codes.

## Solution

Similar to #5, try to calculate (..or brute f

[2021-03-01 17:29] fongie opened #7 "arge.da-api.aok.de returns request data invalid"
## Problem

Both test and "real" requests return request/xml data invalid errors. "Real" requests actually return this error twice (2 "errors" are returned in the XML). This suggests that one of the errors is the "wrong check character" error that we are getting for most requests, but the other error is some bug with our/their implementation

## Solution

Don't know

[2021-03-01 17:33] fongie opened #8 "itscare.da-api.aok.de code not found/invalid request"
## Problem

Similar to #5 and #6. Test codes are "not found", real codes are "invalid data".
Hopefully this means all of them are "working" for real codes.

## Solution

Calculate check character and try a real code and see if "not found"

[2021-03-01 17:36] fongie opened #9 "kubus-it.da-api.aok.de code not found/request invalid"
## Problem

Same problem as #8 . Looking at the endpoints and how the responses look, the `da-api.aok.de` endpoints are probably running the same server implementations, so they are duplicate, and solving one of them will solve all. However, we need to verify that each endpoint is working, so I will keep this as a separate issue anyway.

## Solution
see #8

[2021-03-02 14:01] fongie commented on #2
What we know so far:

- You are supposed to send one invoice per code validation.
- You need to send in "UStG" and "XRechnung" format. In addition, there are certain fields which need to be filled in correctly. They are listed in [here](https://www.gkv-datenaustausch.de/media/dokumente/leistungserbringer_1/digitale_gesundheitsanwendungen/technische_anlagen_aktuell_7/Anlage_1_Technische_Anlage_zur_

[2021-03-02 15:15] fongie commented on #2
there is an xsd by itplr-kosit here https://github.com/itplr-kosit/xrechnung-visualization/blob/master/src/xsd/xrechnung-semantic-model.xsd

there are test invoices at itplr-kosit too, here https://github.com/itplr-kosit/xrechnung-testsuite/tree/master/src/test/business-cases/standard

test invoices can be sent using process code TDRE0

the gkv documentation refers to "standard" tests for xrechnun

[2021-03-02 15:18] fongie commented on #2
according to itpl-kosit it *seems* like you can send xrechnung both in UN/CEFACT - an european comittee for standardization (or something) - or in UBL - universal business language

bitmarck's example is in UN/CEFACT but UBL certainly looks easier to read. Also, the UBL invoices seem to be using the field names that are in the gkv documentation (InvoiceLine for example - not present in the UN/CEFA

[2021-03-02 15:59] fongie opened #10 "Wrong process identifier header sent for test requests"
## Problem

We set TDFC0 in XML request body but not in header.

## Solution

Take the opportunity to make process identifier an enum, and make sure when posting to check if its a test code - then set TDFC0 - otherwise EDFC0.

If we are lucky this means all the endpoints where test codes didnt work will work - and we can set them as "working"! :)

[2021-03-02 17:08] fongie commented on #2
more english info here https://invoice-portal.de/en/xrechnung-en/

[2021-03-02 17:25] fongie commented on #2
there is a GS1 standard containing xsds (!) which is based on UN/CEFACT CII - like xrechnung. here https://www.gs1.org/standards/gs1-uncefact-xml-profiles/gs1-un-cefact-xml-cross-industry-invoice/2012
atleast it will make it easier to understand what the non-diga specific elements mean, the pdf has nice descriptions

[2021-03-02 17:44] #5 closed

[2021-03-02 17:44] #6 closed

[2021-03-02 17:44] #8 closed

[2021-03-02 17:44] #9 closed

[2021-03-02 17:44] #10 closed

[2021-03-02 17:44] #4 closed

[2021-03-02 17:49] fongie commented on #2
cross industry invoice schemas referred to in bitmarcks xrechnung bill can be found here! https://github.com/ConnectingEurope/eInvoicing-EN16931/tree/master/cii/schema/D16B%20SCRDM%20(Subset)/coupled%20clm/CII/uncefact/data/standard

[2021-03-04 20:01] fongie opened #12 "Handle billing for insurance companies without postal address"
## Problem

The billing validator (XRechnung, not the diga specific part, but CII part) does not accept bills without the buyer's postal address. However, there is at least one (BH, BKK Herkules) and probably more companies in the mapping file (Krankenkasse....DiGA.xml) which do not have postal information. How do we handle those?

## Solution

?

[2021-03-04 20:33] fongie opened #13 "Handle non-API billing methods"
## Problem

#2 will be closed when we can send valid bills to API endpoints
however, there are still companies that take xrechnungs by email (id 2) and by post (id 3)

figure out some way of handling this

## Solution

there are several possibilities:
- indicate this in the response and let consumers of the library handle it themselves - f.e by saving the raw xml bill (included in the response) an

[2021-03-05 07:39] fongie opened #14 "If applicable return xml request in a response on exceptions"
## Problem

If a code validation request or invoice (even more so the invoice) fails due to an exception - meaning it likely was never sent - the request body is lost. You may want to save failed requests somewhere to retry them manually or atleast for trouble shooting since they are important

## Solution

Improve exception handling. On exceptions before the XML is built in the first place, throw

[2021-03-05 12:39] fongie opened #15 "Ensure you cannot send test codes to validate method"
## Problem

In DigaApiClient->validateDigaCode method, you can input a test code and receive a "success" reply. Potentially a customer could input a test code into the DiGA and get access without a proper code that way.

## Solution

Make a check at the start of the method to see if it is a test code (use DigaUtils method for this), and if it is, throw an exception OR build a response containing a

[2021-03-05 14:21] fongie opened #17 "Find out what Leitweg-ID is and where to find it"
## Problem

DiGA invoices have a field called BuyerReference in which the bitmarck test bill inputs "Leitweg-ID". Some google search shows this is some sort of "routing ID" in Germany. We need to know what to put in this field and how to find it in the mapping file (or somewhere else)

## Solution

?

[2021-03-05 15:00] fongie opened #18 "Setup maven release process"
## Problem

There is some setup required to release to maven central

## Solution

?

[2021-03-07 15:53] AlexS968 commented on #15
Hi @fongie, i fixed the issue...

[2021-03-07 16:11] #15 closed

[2021-03-09 14:59] fongie opened #20 "Add automatic code style formatting"
## Problem

We should enforce some kind of code style

## Solution

Add and setup this plugin:

https://github.com/diffplug/spotless/tree/main/plugin-maven

and add information in CONTRIBUTORS that you should run "mvn package" (or just the spotless commands) before committing to format the code

bonus is to use spotless add spotless validation in the integration tests run on each PR (these github

[2021-03-10 05:15] #2 closed, assigned to fongie

[2021-03-10 12:51] #18 closed

[2021-03-11 13:04] fongie commented on #12
According to Bitmarck's DiGA FAQ, they state (google translated):

modified specification of XRechnung developed (DiGA-XRechnung).
The route ID as well as the address data are technically at DiGA
not required because addressing is based solely on the IK of the
Invoice recipient takes place. However, the corresponding fields must
nevertheless according to the standard X-invoice format also for the

[2021-03-11 13:06] fongie commented on #12
so solution is: when creating the invoice ( in the xml writer class), if the insurance info postal fields are null, fill in some sensible dummy values instead and send the invoice anyway

[2021-03-11 13:07] fongie commented on #17
see https://github.com/alex-therapeutics/diga-api-client/issues/12#issuecomment-796721204
you dont need to enter anything in this field, so let's keep it as it is ("Leitweg-ID")

will close after checking that what we have now does that

[2021-03-11 13:16] fongie opened #24 "Calculate check character on diga code before validating against the API"
## Problem

In the documentation at gkv and bitmarck's FAQ there is some mention of the manufacturer having to check the code is valid before sending it to the api (?). They are likely referring to the check character (last character) of the code. This does not seem urgent to implement as the API will respond if this is incorrect anyway, but it would be a nice to have feature.

## Solution

In [Di

[2021-03-11 14:29] #14 closed

[2021-03-11 15:09] #17 closed

[2021-03-11 15:54] #13 closed

[2021-03-11 16:04] #12 closed

[2021-03-31 09:45] fongie opened #28 "Test da-api.gkvi.de invoicing"
## Problem

There are reports that this endpoint now supports invoicing against the API!

We should test that it accepts our invoices and update the endpoint status file (or fix issues if there are any)

## Solution

Send some test invoices to the end point

[2021-04-06 08:27] #28 closed

[2021-04-20 07:37] fongie opened #30 "Test new billing APIs"
## Problem

Information was released that some more endpoints now support billing via the API!

·         AOK Hessen - Die Gesundheitskasse

·         AOK Rheinland-Pfalz/Saarland - Die Gesundheitskasse

·         AOK Baden-Württemberg - Die Gesundheitskasse

·         Barmer

· Mobile health insurance

· VIACTIV health insurance

· Knappschaft

 ·         AOK PLUS – Die Gesundheitskasse für Sachs

[2021-04-21 09:56] fongie commented on #30
more added

[2021-04-22 09:16] fongie commented on #30
added two more

[2021-04-23 11:58] sticksen opened #31 "When sending Test Invoice, Bitmarck replies with validation errors"
## Problem

My setup is the following (it´s Kotlin, but I guess it´s understandable):
[code]
The lib is called in this manner:
[code]
I am calling the above function with insurance `CH`.

The answer is: https://gist.github.com/sticksen/eafa8e9e18ba92f3e99dbd4a46dc8473

## Solution

There seems to be an issue with the calculation of the total sum and / or taxing. In `DigaXmlJaxbRequestWriter`, line

[2021-04-23 12:14] fongie commented on #31
Thanks for opening the issue! I will look into it when I can, but of course if you see where the bug is you are welcome to submit a PR for it =)

[2021-04-23 16:07] fongie opened #33 "CI builds are failing"
## Problem

no code was changed but ci builds are failing when generating xml classes

## Solution

Describe a proposed solution, or "no solution" if you don't know yet.

[2021-04-23 16:08] #33 closed

[2021-04-23 16:15] fongie opened #35 "Add changelog"
## Problem

We need a changelog.

## Solution

Either simply write one, or use some open source tool that autogenerates it based on commit messages

[2021-04-23 16:17] fongie commented on #31
closed in #32

[2021-04-23 16:17] #31 closed

[2021-04-23 16:20] fongie commented on #24
bitmarck has a repo that does this I think at https://github.com/bitmarck-service/base32check-java

[2021-04-28 12:09] fongie opened #36 "Test other VAT categories"
## Problem

Being an international DiGA we might need to use another VAT type rather than 'S' used in the invoices now which is "standard rate".  We need to see if the APIs accept other values than S

## Solution

The other available codes are available here (I think) https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL5305/

Try especially reverse charge (AE)

[2021-04-28 13:04] fongie opened #37 "Add field on code validation to see if error was code invalid"
## Problem

Right now you can check if validation was successful with "isHasError" on the DigaCodeValidationResponse. Then you can inspect the 'errors' to see what was the error.

However, when using the library, you really want to know if the error was simply "not a valid code" (if someone tries to make up a code for example) or if it was an error like the format was wrong, since in the first cas

[2021-04-28 13:09] fongie commented on #37
actually we already do this I just forgot to expose this to the user. right now the response ".errors" returns a list of DigaApiResponseError which doesnt have this specific information, if you cast it to "DigaCodeValidationResponseError" then you can get this information.

the issue should be use the specific class instead of the abstraction

for now you can workaround as mentioned (cast the erro

[2021-04-30 15:31] sticksen commented on #30
Where did you find this information? :)

[2021-04-30 15:59] fongie commented on #30
I was kindly contacted by another developer in SDGV who receives email with updates on this - I think its because they have an accepted diga. If you download the latest Kranken.. Xml file you can confirm it too =)

[2021-04-30 16:43] sticksen commented on #30
I´ve got a little automated test run that checks everything.
Test Code Validation:
[code]

For Invoice testing:
[code]
All others do not have errors or do require manual action. Checked with the latest Krankenkassen-mapping.xml.

But I don´t know how to translate this to your stats :)

[2021-04-30 17:55] fongie commented on #30
Thanks! Your script is a great idea, I will steal it hehe. It would be nice to have it built-in as a test case in the client, but since that requires using a private certificate I don't think we can do that unfortunately. I will use your data when I update this issue and the endpoints file. Basically I was planning to do what you just did but more manually.

[2021-05-03 12:41] #30 closed

[2021-05-03 13:00] fongie commented on #36
simply changing to AE doesnt work, it needs more information in the invoice then

it might be easy to add this if they only need our VAT reg nr, but not if we need the health insurance companies nr (because we dont have it.)

[2021-05-03 13:13] fongie opened #40 "Hard coded VAT percentage"
# Bug

https://github.com/alex-therapeutics/diga-api-client/blob/e7af089ebbdef86d1279f49a95e2f4d769a69656/src/main/java/com/alextherapeutics/diga/implementation/DigaXmlJaxbRequestWriter.java#L203

This should be the VAT set by the DigaInformation when instantiating the client.

# Solution

Use the digainformation object present in the writer

[2021-05-04 12:24] #35 closed

[2021-05-04 12:24] #40 closed

[2021-05-04 14:35] #37 closed

[2021-05-04 17:31] #36 closed

[2021-05-18 08:30] #20 closed

[2021-05-27 15:41] gtuk opened #49 "diga-api.tk.de/diga/api/public/rest XMLReaderException"
## Problem

When trying to bill the "Techniker Krankenkasse" with a real code you get the following error:
`DigaApiExceptionError(exception=com.alextherapeutics.diga.DigaXmlReaderException: Exception thrown when trying to read XML request body: )
`It's coming from https://github.com/alex-therapeutics/diga-api-client/blob/34d18ee8f6bbacf0e6fa1b78ebaa22d1a15e0cf6/src/main/java/com/alextherapeutics/d

[2021-05-27 15:50] fongie commented on #49
Thanks for the issue! I recall that when I was setting this up I noticed that some APIs specified different xml character encodings (some UTF-8, others some type of ISO standard) in their `<?xml version="1.0" encoding="xxx"?>` header. Did you get a chance to save the XML that gave this error, so you can tell me what the encoding was?

I like your hack as a short-term solution if it works, but if i

[2021-05-27 15:54] gtuk commented on #49
The xml has utf-8 specified as an encoding. There a small output of the xm
[code]

I will prepare a PR (tomorrow morning) as soon as we talked to the technical contact person of the insurance to get more information

[2021-05-27 15:57] fongie commented on #49
Okay, thanks for looking this up! It does sound like a possible error on their end, so it would be great if you asked them what's up. Let me know how it goes

[2021-05-28 09:17] gtuk commented on #49
#50

[2021-05-28 11:40] #49 closed

[2021-05-28 16:01] SebastianRehfeldt opened #51 "Create documentation on the verification process of prescription codes"
First of all, thanks a lot for creating this repository! We at [xbird](https://xbird.io/) just started to explore how we can verify the diga prescription codes and are very happy that you are sharing both your code and information about it.

## Problem

From the official documentation it is hard to figure out how requests can be sent to verify prescription codes. There is an openapi definition of

[2021-05-29 17:54] fongie commented on #51
Hi @SebastianRehfeldt !

I understand what you mean, the information is still really scarce (and it was even worse before). When building this, I was intending to write a blog post about what I learned about these things, but other stuff got in the way...

In case you haven't figured everything out yet, you can find the answers to your questions by looking at the source code for this library or by

[2021-05-31 08:03] gtuk commented on #3
#52 Real and test requests are working for us

[2021-05-31 08:06] SebastianRehfeldt commented on #51
Hi @fongie,
We are not sure yet if we want to use this client or write our own solution (most likely in Python and with a first focus on code verification). We are no Java developers and cannot really integrate the client as it is right now. A docker container which exposes the verification/billing logic via an api could be a solution though :) This also seems to align with your long term ideas an

[2021-05-31 08:47] fongie commented on #3
That's great! Thanks for letting us know. Closing this!

[2021-05-31 08:47] #3 closed

[2021-05-31 08:57] fongie commented on #51
We only build & release on creating a "github release" to keep some control of the releases, so it is no problem to merge doc requests to master. But I still think the second option is best to keep the "general" documentation separate from the source code of the library, so let's try that. When you (or someone else) make a doc PR, I will transfer that to the wiki and close the PR with a link to th

[2021-05-31 09:29] SebastianRehfeldt commented on #51
Ok sounds good! I'll try to work on the documentation this week and keep you posted :)

And yes the docker container would be amazing! Although there are some things which might get a bit tricky. Ideally we would like to have some control about the logging or define how to handle eventual problems with billing etc. Nothing impossible though. Depending on whether we want to integrate the client or

[2021-06-01 13:20] bokchan opened #53 "Provide a dockerized environment for development"
## Problem

I had issues getting the project to compile on my local machine (ubuntu 20.04). Mainly because I because I am java noob.

It could be helpful to have provide a dockerized environment to make it easier to get started.

## Solution

As I couldn't get it to work I created a dev setup using `docker-compose`. I'd be happy to a pull request if you feel it could be useful for others.

The bra

[2021-06-02 07:45] fongie commented on #53
Hi @bokchan ! Thanks for opening the issue and doing some work on the dev environment 😄

I am not sure about pulling this into the main repository, though. I think most java developers are using a full-blown Java IDE like IntelliJ, Eclipse, etc., and then it is not so useful to have this option for VSCode.

I will keep this issue open so other people can chime in if they want this too - you can wr

[2021-06-02 16:17] SebastianRehfeldt commented on #51
Regarding your initial question: seeing how much effort you already put into this and seeing that it gets stable, we'd like to integrate this client instead of writing our own. We are currently exploring options how to best integrate it into our system. The probably best and most universal solution would be to wrap the client into an api and put it into docker. As already said, we are no Java deve

[2021-06-02 19:22] gtuk commented on #51
I had some spare time yesterday and quickly hacked a small kotlin api around the client. https://github.com/gtuk/diga-api-service
Maybe it is already useful like this, if you have questions let me know. I will continue working and improving the service in the upcoming weeks

[2021-06-03 07:37] SebastianRehfeldt commented on #51
That looks great @gtuk ! Thanks a lot :)

[2021-06-03 09:12] fongie commented on #51
Wow that was quick @gtuk , great job! I will watch the repository and give it a little bit of time to be tested by @SebastianRehfeldt and co, then add a link to it in the readme in this repo 😄

[2021-06-03 09:40] SebastianRehfeldt commented on #51
We will definitely give it a try as soon as we have all the prerequisites, like IK number and certificate from ITSG, ready and let you guys know :)

I have a general comment regarding one of the TODOs from @gtuk : `More validation`.

Is that related to code validation in general, e.g. validating the checksum or used characters in the code? Then I guess this is something which could directly go to

[2021-06-03 09:48] gtuk commented on #51
I would totally agree that validation of the code should be inside the client instead of my api wrapper (there is actually already a small validation in the client -> https://github.com/alex-therapeutics/diga-api-client/blob/7a8ac66edc6be9397e8c5db40ba36af3ff0c2f7a/src/main/java/com/alextherapeutics/diga/implementation/DigaCodeDefaultParser.java#L95).
Inside our production api wrapper we additiona

[2021-06-08 17:47] gtuk commented on #7
Problem is not happening anymore with the latest version of the library #55

[2021-06-08 19:18] #7 closed

[2021-06-08 20:23] fongie commented on #51
I am not already working on it, so I would be very happy for a PR including that functionality 🚀

[2021-06-15 07:38] #24 closed

[2021-06-15 07:39] fongie commented on #53
Closing as there's been no further interest

[2021-06-15 07:39] #53 closed

[2021-06-17 15:23] sticksen opened #57 "Parsing errors for diga-api-client versions > 1.1.2"
## Problem

When using versions of this lib newer than 1.1.2, I´m getting parsing errors upon trying a test invoicing.

The Exception is:
[code]

Execution and parameters:
[code]

## Solution

no solution

[2021-06-17 15:52] fongie commented on #57
thanks for opening the issue @sticksen !

I cannot reproduce this using your example code you and the latest (1.2.0) version of the library, it works fine for me!

could you try putting a breakpoint at https://github.com/alex-therapeutics/diga-api-client/blob/3a213c8f0d7b2c2b1f52695f20439f63a9793b66/src/main/java/com/alextherapeutics/diga/implementation/DigaXmlJaxbRequestReader.java#L73 and seeing

[2021-06-18 07:17] sticksen commented on #57
If I run `new String(bytes)`, this is the result (already formatted/prettified to be readable):
[code]
Same command executed, but with version 1.1.2 of the lib yields:
[code]
...which is correct.

[2021-06-18 07:41] sticksen commented on #57
Further investigation: in line
https://github.com/alex-therapeutics/diga-api-client/blob/main/src/main/java/com/alextherapeutics/diga/DigaApiClient.java#L295
the XML is still intact.

[2021-06-21 15:54] fongie commented on #57
Mkay I'm pretty swamped with other things so I don't have time to personally look into this right now, but if you find a non-breaking solution to the problem I will happily review PRs on the subject.

As you can see in the changelog, there was a bug fix in 1.1.3 which reencodes the received XML which might be the cause of this

[2021-06-21 16:00] sticksen commented on #57
I can give it a go at the end of the week. 👍

[2021-08-30 09:52] fongie commented on #51
closed in #54

[2021-08-30 09:52] #51 closed

[2021-08-30 09:53] fongie commented on #57
hi @sticksen do you have any updates on this?

[2021-08-30 10:09] sticksen commented on #57
Unfortunately not. let´s close it and I´ll reopen a new one if needed. thanks!

[2021-08-30 10:09] #57 closed

[2021-09-17 08:19] baschtii opened #60 "java.lang.NoSuchMethodError: 'okhttp3.RequestBody okhttp3.RequestBody.create(byte[])'"
## Problem

Thx for the great api. We tried to use ur api via mvn dependency.  I used following method for testing `sendTestCodeValidationRequest(DigaApiTestCode.VALID, "BY");` Then we always got the following Error:
`java.lang.NoSuchMethodError: 'okhttp3.RequestBody okhttp3.RequestBody.create(byte[])'
	at com.alextherapeutics.diga.implementation.DigaOkHttpClient.toOkHttpRequest(DigaOkHttpClient.j

[2021-09-17 08:42] fongie commented on #60
Hi @baschtii thanks for using the client and opening an issue!

At first glance, this looks more like an IDE error - where for example intellij (which I use) has screwed up pulling the dependencies, and then it works because you pulled the dependency manually (by adding it). Happens to me regularly too with other programs.

I will take a look later but maybe you could try first to see if this is t

[2021-09-17 09:38] baschtii commented on #60
Hi Fongie, thx for the fast Response. I use Intellij too.

I removed the dependency and started the programm over command line and got the same issue.

[2021-09-17 10:10] fongie commented on #60
Ok! Ill try to reproduce it later

[2021-09-22 15:14] #60 closed

[2021-09-23 08:10] fongie commented on #60
released in 1.2.1 @baschtii and should be available shortly on maven

[2021-11-29 12:56] gtuk opened #62 "ProtocolException: expected the Content-Type to have a boundary parameter"
## Problem
Currently we have some problem with the following insurance endpoints while validating a code:
- da-api.gkvi.de
- kubus-it.da-api.aok.de
- itscare.da-api.aok.de
- diga.apimisc.de

The error only appears with real codes and not with test codes

If a request is parsed the library currently tries to read the response.body with a MultiPartReader regardless from the http status code
[code]

[2021-11-29 14:03] fongie commented on #62
Hi @gtuk ! I see, it makes sense and does look like a bug. It should be able to be solved by simply checking at https://github.com/alex-therapeutics/diga-api-client/blob/3d6991b7a5b29d9d7d68559bc823dda4fcec01de/src/main/java/com/alextherapeutics/diga/implementation/DigaOkHttpClient.java#L79
something like `if okHttpResponse.code() != 200: return responseBuilder.build()`

You will also need to retu

[2021-11-30 11:41] gtuk commented on #62
Wouldn't it make more sense to just throw an io exception in case the response code is not 200

[code]

Then the post method would catch it, log it and transform it into a DigaHttpClientException and the the rest of the code stays as it is.
[code]

[2021-12-01 12:13] fongie commented on #62
Sure that makes sense too!

[2021-12-03 06:46] #62 closed

[2021-12-03 09:04] fongie commented on #62
released in 1.2.2 @gtuk

[2021-12-03 09:46] gtuk commented on #62
Thanks a lot. Just a heads up, the actual root cause was a problem on the insurance site. On the 25.12.2021 a new key file got uploaded because at the end of the year only keys with a key length of 4096 bit are allowed. The problem now was that the key file included already the new keys for some insurances but the backend systems of the insurance was still handling only the old key with 2048 bit

[2021-12-28 15:20] jakob-p opened #64 "Received fatal alert: unknown_ca"
## Problem

The TLS handshake fails when trying to send a Code Validation Request with this error:

[code]

The keystore was created with the [secon-keystore-generator](https://github.com/mawendo-gmbh/secon-keystore-generator). It worked but displayed this warning:
`Warning: Unable to load 5 certificate(s). `

Any Ideas how to solve this?

[2021-12-28 15:43] fongie commented on #64
Hi @jakob-p thanks for opening an issue! In this case, it is likely an issue with your keystore. More specifically, it seems like it could be an issue with your own client certificate - see [this stackoverflow post](https://stackoverflow.com/questions/28958514/javax-net-ssl-sslhandshakeexception-received-fatal-alert-unknown-ca). Did you use the certificate you received from ITSG?

[2021-12-28 15:48] jakob-p commented on #64
Hi @fongie Thank you for your quick response and this library!

Yes i used the *.p7c certificate (and its private key) I received from ITSG  together with the annahme-rsa4096.key to generate the keystore

[2021-12-28 16:09] fongie commented on #64
No problem!

I see, I'm afraid I don't have much advice to give. For me one of the most annoying parts of getting all this to work was setting up the certificates. I can only suggest some things which you may have thought about already:

- you could try converting your key into pkcs8 as described [here](https://github.com/mawendo-gmbh/secon-keystore-generator#alternative-private-key-format) before

[2021-12-28 19:35] jakob-p commented on #64
I just tested different endpoints, and against the insurance with the key AH i got a 200 OK back for the Test Code Validation 😄

The other endpoints don't work for me yet.

Maybe you are right and I need to wait a bit so the other endpoints update their certificates. I got the certificate 8 days ago.

[2021-12-28 20:27] fongie commented on #64
Great! I'm happy it started working. It sounds like it will resolve itself after a while, then. I will close this issue if you don't mind. Good luck setting up your diga api integration!

[2021-12-28 20:27] #64 closed

[2022-01-25 10:51] kennyx46 commented on #64
@jakob-p did eventually work for you? We received our certificate from ITSG 4 days ago and now see "Received fatal alert: handshake_failure" while trying to validate the test code. Interestingly, `AH` insurance key works for us as well.

[2022-01-28 14:28] fongie opened #65 "diga.apimisc.de expects other headers and transfer type"
## Problem

diga.apimisc.de is not responding to requests right now (although our endpoints status document suggests it used to?)

A lot of troubleshooting by the team at Rehappy (@SandraHicks) suggests that this endpoint works differently from other endpoints: it requires the request body to be sent as a single chunk (not streamed), and that it requires the Content-Length header

Right now I'm no

[2022-01-29 09:45] kennyx46 opened #66 "5 out 8 endpoints fail"
Thanks a lot for the work invested to create and publish this library.
## Problem

We received the certificate from ITSG a week ago (Jan 20). During the last week, we tried to implement the DIGA communication solution using your library (for now only for testing codes validation). Unfortunately, 5 out of 8 endpoints still do not work for us. It is worth mentioning the errors we receive vary depend

[2022-01-29 13:30] fongie commented on #66
Hi @kennyx46 thanks for opening an issue!

We've had other issues opened in the past on this subject which seems to have been solved by simply waiting for the insurances or itsg to accept your key, see for example https://github.com/alex-therapeutics/diga-api-client/issues/64

However, we probably have a problem with apimisc see https://github.com/alex-therapeutics/diga-api-client/issues/65 which

[2022-02-07 12:11] SebastianRehfeldt opened #67 "Question: Reactivation flow for users who received a second diga prescription code"
## Problem

DiGA prescriptions are only valid for a specific amount of days. Ideally, users want to continue using the app and receive a second prescription code by their insurance. Do you or @gtuk have any experience on how the validation and billing apis handle DiGA codes for users who have already entered a code? Can they enter the new code before the existing one expires?

Would be grateful if

[2022-02-07 12:37] fongie commented on #67
We dont have any experience with this unfortunately. Would be good to know though!

[2022-02-08 13:29] jakob-p commented on #64
The problem was that from December 2021  the ITSG issued certificate from a new root CA and most insurance endpoints did not have this root CA in their systems.

I contacted the insurance endpoints and 7/8 fixed it until now.

For Bitmarck there is a temporary fix using another endpoint. I'm not sure if I can put the URL here, so better contact them if you need the address. But they should have th

[2022-02-08 13:41] jakob-p commented on #65
diga.apimisc.de is working for us at the moment,  is it still failing?

[2022-02-08 13:52] fongie commented on #65
thats interesting and good news! I havent had the chance to work on this yet. are both test and real requests working for you using the library?

[2022-02-08 14:00] jakob-p commented on #65
We did only make test requests so far, but those are working with our certificate

[2022-02-08 14:07] jakob-p commented on #65
Might be a certificate issue, that they locked out the certificates issued by the older root CA from ITSG. But just a wild guess.

[2022-02-08 14:23] jakob-p commented on #65
We didn't get a new certificate, the Endpoint needs to accept certificates issued from both the old and the new CA (old one is still valid until 2025).

So if the old certificates don't work, you'll need to contact them (address can be found in Krankenkassenverzeichnis.xml)

[2022-02-08 15:41] jakob-p commented on #65
I also tested sending the test bill to and insurance using diga.apimisc.de (Kostentraegerkuerzel C4) and it worked, so i dont think this is an issue with this library

[2022-02-09 07:54] kennyx46 commented on #66
Thanks a lot for your answers. So after almost two weeks, 6 out of 8 endpoints started working
(`diga-api.tk.de/diga/api/public/rest` fails from time to time though).
The two not working are:
1. `diga.bitmarck-daten.de`
2. `diga.apimisc.de`

Will try to notify them then.

[2022-02-09 07:58] kennyx46 commented on #64
@jakob-p thanks for your answer.
Will try to contact them then.

[2022-02-09 15:49] gtuk commented on #67
Based on what we observed:
- You can validate codes even if there is another one still "active"
- The day of service provision will be the date when you validated the code
- The digavid is your digaId + 000 e.g 12345000 or your digaId + 001 e.g 12345001 (000 is a first prescription and 001 indicates a following prescription) -> as far as i remember it correctly, i can find the relevant info at the

[2022-02-09 15:57] SebastianRehfeldt commented on #67
Thanks, that's very helpful :)

Yep, I don't have a link to the documentation either but this is also how we understand the `digavid`.
In the initial PR for the documentation I added the question to the [FAQ section](https://github.com/alex-therapeutics/diga-api-client/blob/main/docs/diga_api.md#my-diga-app-is-only-valid-for-30-days-can-users-request-a-fresh-code-from-their-insurer-while-their-exi

[2022-02-10 15:14] fongie commented on #66
Thank you for clearing this up @jakob-p ! I will close this issue, since it doesn't seem like an issue with the library. Feel free to reopen if you disagree.

[2022-02-10 15:14] #66 closed

[2022-02-10 15:14] fongie commented on #65
Thanks for your help @jakob-p !

[2022-02-10 15:14] #65 closed

[2022-08-25 10:49] uvinw opened #94 "TK (Techniker Krankenkasse) and possibly other insurers have switched to updated XML schema version 3.0"
## Problem

Attempting to validate codes results in the error:
`Caused by: javax.xml.bind.UnmarshalException: unexpected element (uri:"http://www.gkv-datenaustausch.de/XML-Schema/EDFC0_Pruefung/3.0", local:"Pruefung_Freischaltcode"). Expected elements are <{http://www.gkv-datenaustausch.de/XML-Schema/EDFC0_Pruefung/2.0.0}Pruefung_Freischaltcode>`

[2022-08-25 16:44] fongie commented on #94
Hi thanks for opening an issue! I have time to look into this some time next week, as I am currently on vacation. If urgent (which it sounds like), I can review PRs on the subject from here.

Did you see any news on this subject? Feels kind of strange to start using a new version and stop supporting the old one just like that..

On [this official page](https://www.gkv-datenaustausch.de/leistungser

[2022-08-26 08:17] ManfredfromHH commented on #94
Hi,
we received the information from TK, that it was planned from GKV-SV to switch to 3.0 on 25.08.
but that this information has not reached all involved parties.
We received information about 3.0, too:
The problem from our view is, that for the moment only TK switched to 3.0 already.
Please find informations about 3.0 attached.

[EDFC0-basis_3.0.0.xsd.txt](https://github.com/alex-therapeutics/di

[2022-08-26 14:39] fongie commented on #94
Thanks a lot for providing the files along with the info @ManfredfromHH ! I will look into a solution next week unless someone else gets there before me, I guess one way to handle it would be to send a v3 request first and then a v2 if it fails, as it seems that we won't really know which insurances upgrade or when. It's not the prettiest solution but then again neither is it for the insurances to

[2022-08-29 11:54] ManfredfromHH commented on #94
the new version is now officially published on
https://www.gkv-datenaustausch.de/leistungserbringer/digitale_gesundheitsanwendungen/digitale_gesundheitsanwendungen.jsp

[2022-08-29 15:16] gtuk commented on #94
I can second that only TK has switched so far to 3.0.
@fongie if you could provide a PR, i would be happy to review/test it asap. Unfortunately i don't have much time to work on it on my own this time

[2022-09-01 13:38] fongie commented on #94
Ive got this in mind but have had more urgent things to do at work, just so you know. Ill get to it when I have a chance :)

[2022-09-01 15:02] fongie commented on #94
it's a bit of a hack but I understand it's a pressing situation for you guys who are running this in production right now, so sure let's do it! If you PR against the `v3-support` branch I just created here I will merge into that and then release 1.25.0-v2 and 1.25.0-v3 (or similar) versions from the main and v3-support branches respectively. Then, once we create a solution that supports both, we c

[2022-09-01 15:31] gtuk commented on #94
#98

[2022-09-01 16:32] fongie commented on #94
[1.2.5-v3-xml](https://github.com/alex-therapeutics/diga-api-client/releases/tag/1.2.5-v3-xml)
and
[1.2.5-v2-xml](https://github.com/alex-therapeutics/diga-api-client/releases/tag/1.2.5-v2-xml)

are now up on github packages and on their way to maven

the v3 one should support the new xml schemas whereas the v2 one supports the old ones

I will still try to work on a fix for the main branch to sup

[2022-09-01 19:56] gtuk commented on #94
Thanks for the fast merge and release

[2022-09-02 12:04] mnin commented on #94
Hey,

https://kkv.gkv-diga.de/ doesn't provide a new file with the specification of 3.0.0.

You can replace the first line in the XML, then it seems to run:

[code]

[2022-09-22 17:34] jakob-p commented on #94
Almost all Endpoints switched to v3 today so v2 will be obsolete soon

[2022-09-23 06:34] fongie commented on #94
thanks @jakob-p that's good news! then I don't think we should worry about supporting both this time, I havent had time to do that either.. we will just merge the v3 branch into main and release from that on next release

[2022-09-26 10:34] gtuk commented on #94
Unfortunately the situation is much more messy/complicated.
Most of the insurances switched to v3, that is true, but only for the validation requests, not the billing requests (they are still on v2).
That means that for the validation you need to use the insurance mapping file that got released here https://kkv.gkv-diga.de/ (v3), but for the billing request you need to use a mapping file in v2. Fo

[2022-09-27 06:22] fongie commented on #94
uhh that does sound like a mess... how are you coping with this right now? is there anything reasonable we can do on the library side to combat this?

[2022-09-27 14:19] gtuk commented on #94
After contacting the insurances maintaining the api endpoints da-api.gkvi.de and kubus-it.da-api.aok.de yesterday and told them about the bug on their end they released a hotfix today.
So it seems that now finally all the endpoints are using v3 for the validation. The billing is still using v2 everywhere.
For the moment we still have to maintain both versions of the library, because of version dif

[2022-09-27 14:33] gtuk commented on #94
One idea (far from ideal) to tackle these version problems for now is to release the different schema versions under different artifactIs e.g
[code]
Like this we could at least quickly react to a version change, by creating a new library with a new artifactId and we can import multiple libraries simultaneously and instantiate different clients for different scenarios (validation, billing, even by

[2022-10-06 09:04] jakob-p commented on #94
I just tried the v3 branch and send test bills to all endpoints and its working (exept for bitmarck as they dont accept the test bill as mentioned in the [Readme](https://github.com/alex-therapeutics/diga-api-client#faq)

So v3 billing seems to be working now?

[2022-10-06 09:17] gtuk commented on #94
@jakob-p in the v3-support branch only the xsd files for the validation under https://github.com/alex-therapeutics/diga-api-client/tree/v3-support/src/main/resources/code-xsd are using the v3 version.
The xsd files for the billing under https://github.com/alex-therapeutics/diga-api-client/tree/v3-support/src/main/resources/billing-xsd are still using the old version

[2022-10-06 09:47] jakob-p commented on #94
i see, thank you for the clarification and your fix!

[2022-10-06 19:02] jakob-p commented on #94
that was just an short issue with the endpoint, not related to V3. They are still running V2 for billing.

[2022-11-25 11:25] gtuk commented on #94
@uvinw so far it's still the same as before as far as we can observe, only the validation moved to v3.
As far as i know there are also no immediate plans of bumping the version for billing.

Additionally has every insurance moved to v3 validation it should be much easier now to implemented everything in one library again, instead of having two versions v3 and v2 of the library

[2022-11-25 17:47] fongie commented on #94
Does this mean we can merge v3-support branch into main and release from that? Or are there other updates that should be made in regards to this? I was gonna have a hand at supporting both versions but if there's no point anymore I'll avoid it hehe